body {
    background-image: url(/Assets/man_fishing.jpg);
    background-size: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

#stats {
    font-size: 10px;
    font-weight: bold;
}

#board {
    display: grid;
    width: min-content;
    grid-template-columns: repeat(10, 5vmin);
    grid-template-rows: repeat(10, 5vmin);
    column-gap: 0px;
    justify-content: end;
    background-color: grey;
    user-select: none;
}

#logo {
    max-width: 125px;
}

.cell {
    display: flex;
    border-style: ridge;
    background-color: lightgray;
    font-size: clamp(1rem, 3.5vw, 1.5rem);
    justify-content: center;
    align-items: center;
}

.revealed {
    background-color: aqua;
}

#fried_shrimp {
    visibility: hidden;
}

.resetBtn {
    align-items: end;
    
}

.buttonBox {
    display: flex;
    justify-content: right;
    /* margin-right: 123px; 
    make the button squared and center*/
}

#rightSide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    display: flex;

}