
body {
    background-image: url('../Assets/shrimp_boat.jpg');
    background-size: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 400px){
    body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #logo {
        margin-left: 0px;
    }
    #header {
        margin-left: 0px;
    }
}

#stats {
    font-size: 2vh;
    font-style: italic;
    font-weight: bold;
    color: rgb(0, 255, 251);
}

#board {
    display: grid;
    width: min-content;
    grid-template-columns: repeat(10, 9vmin);
    grid-template-rows: repeat(10, 9vmin);
    column-gap: 0px;
    justify-content: end;
    background-color: grey;
    user-select: none;
}

#logo {
    height: 25vh;
    width: 25vh;
    margin-left: 200px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.cell {
    display: flex;
    border-style: ridge;
    background-color: lightgray;
    font-size: clamp(1rem, 3.5vw, 1.5rem);
    justify-content: center;
    align-items: center;
}

.revealed {
    background-color: aqua;
}

#fried_shrimp {
    display: none;
    height: 7vh;
    width: 9vh;
    font-size: 5vh;
}

#live_shrimp {
    align-items: center;
    height: 7vh;
    width: 9vh;
    font-size: 5vh;
}

.buttonBox {
    display: flex;
    justify-content: right;
}

#rightSide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    display: flex;
    justify-content: center;
    margin-left: 200px;
    color: #2d1bb3;
    font-size: 5vh;

}

.splash {
    display: none;
}